image {
  background-image: url("static/images/05sa_ldnn_210617.jpg");
  background-color: #cccccc; height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }