html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  padding: 30px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

a {
  text-decoration: none;
  border: 3px solid white;
  color: transparent;
  padding: 5px 60px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
  top: 0.7vw;
  left: 7vw;


}
a:before {
  content: "Powrót";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
a:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
a:after {
  content: "Powrót";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
a:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

button {
  text-decoration: none;
  border: 3px solid white;
  color: transparent;
  padding: 20px 60px;
  font-size: 8px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
  top: 0vw;
  left: 0vw;
}
button:before {
  content: "Dodaj pytanie";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(34, 34, 34);
  font-size: 15px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
button:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
button:after {
  content: "Dodaj pytanie";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(34, 34, 34);
  font-size: 15px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
button:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}
p1{
  text-decoration: none;
  color: white;
  padding: 5px 5px;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: absolute;
  top: 0vw;
  left: 0vw;
